fn conf_enable_img {
	img_url=$conf_wd
	if (~ $#img_dir 0) { img_dir=`{pwd} }
	conf_enable_app img

}

fn img_init {
	if (~ $req_path $img_url) {
		if (~ $REQUEST_METHOD GET ) {
			handler_body_main='img_display_gallery'
		}
		if (~ $REQUEST_METHOD POST ) {
			#now=`{ date -n }
			if (! ~ $#post_arg_url 0) {
				echo 'Content-type: text/plain'; echo ''; exec echo $post_arg_url
			}
		}
	}
}

fn img_display_gallery {
	echo '<article>
	<form action="'$img_url'" method="post">
		<table>
		<tr><td>image: </td><td><input type="text" name="url" required></td></tr>
		<tr><td>description: </td><td><input type="text" name="description" ></td></tr>
		<tr><td>tags: </td><td><input type="text" name="tags" ></td>
		<tr><td><input type="submit" name="submit" value="SUBMIT"</td></tr>
		</table>
	</form>
	</article>
	'
}
