article {
    font-size: 12pt;
    font-family: Helvetica, Verdana, Arial, 'Liberation Sans', FreeSans, sans-serif;
    flex-basis: 100%;
    max-width: 80em;
    padding-left: 0em;
}
p#post_caption {
    font-style: italic;
    padding-left: 1em;
    padding-right: 1em;
}
img { max-width: 100% !important; max-height: 100% }
#post_img { max-width: 500px; max-height: 600px; }
#post_img img { max-width: 500px; max-height: 600px; }
article a { text-decoration: none; color: blue; }
article a:hover { background: blue; color: white; }
article a img { vertical-align: bottom; }
input[type=text] { width: 100%; }
